<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-white my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-black py-3">{{ title }}</h2>
          <h5 class="card-subtitle text-center text-black py-3"> Try to push this button</h5>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/todos" class="btn btn-info">Todos</a>
                </li>
          </ul>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>